input
{
              background-color: white;
              border: 2px solid black;
              border-radius: 5px;
              color: black;
              padding: 12px 10px;
              text-align: left;
              text-decoration: none;
              display: inline-block;
              font-weight: bold;
              width: 25%;
              font-size: 14px;
              margin: 4px 2px;
              cursor: pointer;
}

body
{
    color : white; 
    background : #002447;
    text-align : center;  
    font-weight: bold;
    font-size: 25px;
}

p
{
    font-weight: normal;
    font-size: 25px;
}

.top
{
     width: 97%;
     margin: auto;
     height: 100px;
     padding: 1px 10px;
     text-align : center; 
}
